/* Footer Start */

.footer {
    background: #eeebeb5d;
}

.footer h5 {
    font-family: 'Courier New', Courier, monospace;
}

.footer img {
    height: 40px;
}

.footer a {
    color: #000;
    display: block;
}

/* Footer End */